* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  background-image: url("jeremy-thomas-E0AHdsENmDg-unsplash.jpg");
  color: #fff;
  font-size: 18px;
  text-align: center;
  letter-spacing: 1.2px;
}
.login form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  margin: 5rem auto;
  width: 600px;
  height: auto;
  background-color: white;
  box-shadow: 0 0 8px 24px rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
}

.login h1 {
  color: #333;
  letter-spacing: 1px;
  text-align: center;
}

input {
  width: 100%;
  background: #fff;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 13px;
  color: black;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2),
    0 1px 1px rgba(255, 255, 255, 0.2);
  -webkit-transition: box-shadow 0.5s ease;
  -moz-transition: box-shadow 0.5s ease;
  -o-transition: box-shadow 0.5s ease;
  -ms-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
}
input:focus {
  box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.4),
    0 1px 1px rgba(255, 255, 255, 0.2);
}

select {
  width: 100%;
  background: #fff;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 13px;
  color: gray;
  text-shadow: 1px 1px 1px #fff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2),
    0 1px 1px rgba(255, 255, 255, 0.2);
  -webkit-transition: box-shadow 0.5s ease;
  -moz-transition: box-shadow 0.5s ease;
  -o-transition: box-shadow 0.5s ease;
  -ms-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
}

.predict-btn {
  color: #fff;
  width: 60px;
  margin: auto;
  background-color: #7f58f3;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 24px -6px rgba(0, 0, 0, 0.73);
}

.prediction {
    font-size: 3rem;
    border-radius: 10px;
    background-color: #234C6A;
    margin: auto;
    padding: 0;
    box-shadow: 0px 0px 24px -6px rgba(0, 0, 0, 0.73);
}